<style type="text/css">
		@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
		
		a:link{ color: black;
			
		}
		a:visited{ color: black;
			
		}

		body{
			background-color: #DCD0C0;
			margin: 0;
			padding: 0;

		}

		#meiatela{
			background-color: #B8C7C6;

			position: absolute;
			width: 100%;
			height: 42%;
			top: 70%;
		}

		#foto{position: absolute;
			left: 45%;
			top: 5%;
			width: 200px;
			border: 1px solid white;
			border-radius: 100px;

		}   
		#texto-nome{
			position: absolute;
			top: 45%;
			left: 44%;
			font-family: Montserrat;
			font-size: 35px;
		}   
		#texto2{
			position: absolute;
			top: 55%;
			left: 46%;
			font-family: Montserrat;
			font-style:normal;
			font-size:20px;
		}
		#email{
			position: absolute;
			width: 40px;
			height: 35px;
			top: 60%;
			left: 48%;	

		}
		#git-icon{
			position: absolute;
			width: 40px;
			height: 35px;
			top: 60%;
			left: 55%;
		}
		#texto2{
			font-family: Montserrat;
			font-style: normal;
		}

	</style>